#profSwitcherButtonTB  {
  list-style-image: url("chrome://profilelauncher/content/skin/icons/button0.png");
}

toolbar[iconsize="small"] #profSwitcherButtonTB {
  list-style-image: url("chrome://profilelauncher/content/skin/icons/user0.png");
}

.profilepopup .menu-iconic-left {
  display: inline;
}

groupbox.left {
  padding: 8px 8px 8px 4px;
}

groupbox.right {
  padding: 8px 4px 8px 8px;
}

#profSwitcherButtonTB .toolbarbutton-menubutton-dropmarker::before {
  height: unset;
}
